<!-- comment -->
<div class="row">
    <div class="col-md-12 comment p-4 mb-2">
        <p>{{this.content}}</p>
        <small><strong>{{this.user.username}}</strong>  -  <em>{{this.created_at}}</em></small>
    </div>
</div>

            