<!-- header -->
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Tech Blog</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">

                    {{#unless (isHome @exphbs.view)}}
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                    {{/unless}}
                    
                    {{#if loggedIn}}
                        {{!-- authenticated --}}
                        {{#unless (isDashboard @exphbs.view)}}
                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard">Dashboard</a>
                            </li>
                        {{/unless}}
                        <li class="nav-item">
                            <a class="nav-link" id="logout">Log Out</a>
                        </li>

                    {{else}}
                        {{!-- public --}}
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-success btn-green btn-login" href="/login">Log In</a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav> 
</header>