<div class="row">
    <div class="col-md-12">
        <form id="new-comment-{{post_id}}" class="p-3">
        <div class="row">
            <div class="col-md-10">
                <div class="form-group mb-0">
                    <textarea 
                    id="new-comment-content"
                    class="form-control textarea"
                    rows="1"
                    placeholder="Leave a comment..."
                    required></textarea>
                </div>
                <input type="hidden" id="new-comment-user-id" value="{{user_id}}"/>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </div>
    </form>
    </div>
</div>
<div class="divider divider-lg divider-light my-3"></div>
