<!-- dashboard -->
<div class="container">
    <div class="row">
        <div class="col-md-12 pb-3">
            <a id="add-post" class="btn btn-outline-secondary btn-lg btn-block" href="/dashboard/post">Create New Post</a>
        </div>
        <div class="col-md-12 posts-wrapper">
            {{#eachWithSession posts session=this}}
                {{> post-excerpt }}
            {{/eachWithSession}}
        </div>
    </div>
</div>