<!-- home -->
<div class="container">
    <div class="row">
        <div class="col-md-12 posts-wrapper">
            <!-- post -->
            <div class="row post">
                <div class="col-md-12">
                    <!-- timestamp -->
                    <div class="row timestamp">
                        <div class="col-md-12 d-flex text-muted justify-content-end align-items-center p-2 pr-3">
                            <small><em>Updated At: 10:20 pm Monday July, 11th</em></small>
                        </div>
                    </div>
                    <!-- feature image -->
                    <div class="row feature-image">
                        <div class="col-md-12">
                            <img src="https://placehold.co/1600x900" alt="Some Image"/>
                        </div>
                    </div>
                    <!-- title -->
                    <div class="row title">
                        <div class="col-md-12">
                            <h2>Post Title</h2>
                        </div>
                    </div>
                    <!-- body -->
                    <div class="row body">
                        <div class="col-md-12">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam itaque ipsa nostrum nisi magni delectus vel accusantium! 
                                Deserunt consequatur tempora nihil! Corrupti eaque sed iusto? Explicabo blanditiis temporibus quo aspernatur? Lorem 
                                ipsum dolor sit amet consectetur adipisicing elit. Nam itaque ipsa nostrum nisi magni delectus vel accusantium! 
                                Deserunt consequatur tempora nihil! Corrupti eaque sed iusto? Explicabo blanditiis temporibus quo aspernatur?</p>
                        </div>
                    </div>
                    <div class="divider divider-lg divider-light my-2"></div>
                    <!-- add comment -->
                    <div class="row add-comment">
                        <div class="col-md-12">
                            <form id="add-comment" class="p-3">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group mb-0">
                                            <textarea 
                                            id="new-comment"
                                            class="form-control textarea"
                                            rows="1"
                                            placeholder="Leave a comment..."
                                            required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="divider divider-lg divider-light my-2"></div>
                    <!-- comments -->
                    <div class="row comments-wrapper m-3">
                        <div class="col-md-12">
                            <div class="row pb-3">
                                <div class="col-md-12 d-flex justify-content-start align-items-center">
                                    <h3>Comments</h3>
                                    <a id="add-comment" class="pl-3">
                                        <i class="fa fa-plus-circle fa-3x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- comment -->
                        <div class="col-md-12 comment p-4 mb-2">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam itaque ipsa nostrum nisi magni delectus vel accusantium! 
                                Deserunt consequatur tempora nihil! Corrupti eaque sed iusto? Explicabo blanditiis temporibus quo aspernatur
                            </p>
                            <small><strong>Username</strong>  -  <em>10:20 pm Monday July, 11th</em></small>
                            
                        </div>
                        <!-- comment -->
                        <div class="col-md-12 comment p-4">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam itaque ipsa nostrum nisi magni delectus vel accusantium! 
                                Deserunt consequatur tempora nihil! Corrupti eaque sed iusto? Explicabo blanditiis temporibus quo aspernatur</p>
                            <small><strong>Username</strong>  -  <em>10:20 pm Monday July, 11th</em></small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- post -->
            <div class="row post placeholder">

            </div>
            <!-- post -->
            <div class="row post placeholder">

            </div>
        </div>
    </div>
</div>