<!-- home -->
<div class="container">
    <div class="row">
        <div class="col-md-12 posts-wrapper">
            {{#eachWithSession posts session=this}}
                {{> post-excerpt }}
            {{/eachWithSession}}
        </div>
    </div>
</div>