.divider {
    display: block;
    margin: 5px auto;
    height:1px;
    width:100%;
    border-top: 1px solid rgba(0,0,0,1.0);
}

.divider.text-muted {
    border-color: #6c757d !important;
}

.form-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.form-wrapper.form-mini {
    width: 100%;
}

.form-wrapper .divider {
    width: 80%;
}

/* MEDIA QUERY FOR TABLETS AND LARGER */
@media screen and (min-width: 768px) {
    .form-wrapper.form-mini {
        width: 50%;
    }
}